{% extends 'base.html' %}

{% block content %}

<div class="flex justify-center mt-10">
<form method="post" class="bg-white/10 p-6 rounded-xl w-full max-w-md">
{% csrf_token %}

<h2 class="text-xl mb-4">Create Test</h2>

<input type="text" name="title" placeholder="Title"
class="w-full p-2 mb-3 rounded bg-black/50">

<select name="category" class="w-full p-2 mb-3 rounded bg-black/50">
<option>python</option>
<option>django</option>
<option>drf</option>
<option>sql</option>
</select>

<select name="difficulty" class="w-full p-2 mb-3 rounded bg-black/50">
<option>beginner</option>
<option>intermediate</option>
<option>advanced</option>
</select>

<button class="bg-yellow-400 text-black w-full py-2 rounded">
Create
</button>

</form>
</div>

{% endblock %}